*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	background:#102626;
	height: 100vh;
}
.container .loder{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-reflect:below 1px linear-gradient(#0001,#0004);
}
.container .loder {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: red;
	animation: animate 2s linear infinite;
}
@keyframes animate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
.container .loder span::before{
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 50%;
	height: 100%;
	background:linear-gradient(transparent,rgba(0,255,249,0.4));
	background-size:100% 100%;
	background-repeat: no-repeat;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;

}
.container .loder span::after{
	position: absolute;
	content: '';
	top:0 ;
	left: 50%;
	transform: translateX(-50%);
	width: 30px;
	height: 20px;
	background-color: cyan;
	border-radius: 50%;
	z-index: 10;
	box-shadow: 0 0 10px cyan,
	0 0 20px cyan,
	0 0 30px cyan,
	0 0 40px cyan,
	0 0 50px cyan,
	0 0 60px cyan,
	0 0 70px cyan,
	0 0 80px cyan,
	0 0 90px cyan,
	0 0 100px cyan;
}
.container .loder span{
	position: absolute;
	top: 20px;
	left: 20px;
	left: 20px;
	right: 20px;
	background-color: #102626;
	border-radius: 50%; 
	width: 80%;
	height: 80%;
	border: 2px solid red;

}