input[type="checkbox"]{

	appearance: none;
	width: 100px;
	height: 40px;
	border: 2px solid gray;
	border-radius: 50px ;
	transition: .5s;
	margin: 10px 20px;
	outline: none;
	transition: .5s;
}

input[type="checkbox"]::before{
position: absolute;
top: 20px;
left:28px;
height: 35px;	
width: 35px;
content: '';
background: gray;
transition: .5s ease;
border-radius: 50px;
}

input[type="checkbox"]:checked:before{
	transform: translate(60px);
	background: skyblue;
}

input[type="checkbox"]:checked{
border-color: deepskyblue;
}



