*{
	margin: 0;
	padding: 0;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.main{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.main label{
	width: 250px;
	height: 320px;
	cursor: pointer;
	margin: auto;
	position: absolute;
	overflow: hidden;
	box-shadow: 0 0 50px rgba(0, 0, 0, .5);
	transition: .5s;
	border-radius: 30px;
}


.main label img{
	width:100%;
	height: 100%;
	filter: grayscale(1);
	transition: .4s;
}

input:checked ~ .main label:hover img{
filter: grayscale(0);
transform: scale(1.1);
}



.main label:nth-child(1){
	transform: rotate(0);
}


.main label:nth-child(2){
	transform: rotate(10deg);
}


.main label:nth-child(3){
	transform: rotate(20deg);
}


.main label:nth-child(4){
	transform: rotate(30deg);
}

input{
	display: none;
}


input:checked ~ .main label:nth-child(1){
	transform: translateX(-450px);
}


input:checked ~ .main label:nth-child(2){
	transform: translateX(-150px);
}

input:checked ~ .main label:nth-child(3){
	transform: translateX(150px);
}

input:checked ~ .main label:nth-child(4){
	transform: translateX(450px);
}