*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: saddlebrown;
	align-items: center;
}

.circle{

	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	-webkit-box-reflect:below 1px linear-gradient(#0001,#0004);

}

.circle .loder{
	position: relative;
	width: 200px;
	height: 200px;
	background: red;
	border-radius: 50%;
	animation: animate 2s linear infinite;

}


@keyframes animate{

	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}

}

.circle .loder::before{

	position:absolute;
	content: '';
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(transparent,skyblue);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;

}


.circle .loder span::after{
	position:absolute;
	content: '';
	top: 0;
	left: 45%;
	width:30px;
	height: 30px;
	background: white;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(255, 255, 255, .5),
				0 0 20px rgba(255, 255, 255, .5),
				0 0 30px rgba(255, 255, 255, .5),
				0 0 40px rgba(255, 255, 255, .5),
				0 0 50px rgba(255, 255, 255, .5),
				0 0 60px rgba(255, 255, 255, .5),
				0 0 70px rgba(255, 255, 255, .5),
				0 0 80px rgba(255, 255, 255, .5),
				0 0 90px rgba(255, 255, 255, .5);

}

.loder span{

	position: absolute;
	top: 20px;
	left: 20px;
	right:20px;
	bottom: 20px;
	border-radius: 50%;
	background: purple;


}